<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



<div class="topnav" id="myTopnav" >
  <a href="#projects" class="text">My Projects</a>
  <a href="#about" class="text">About me</a>
  <a href="mailto:uhrinbeauhrinbeaa@gmail.com" class="text">Contact</a>
  <div class="responsive_block"></div>
  <button class="menu-icon"  id="menu-icon">&#9776; </button>
</div>
</body>
</html>
