
.topnav {
  background-color:  #00000000;
  padding: 10px;
  width: 70%;
  margin:0 auto;
  height: 20%;
  display: flex;
  border-bottom: 5px solid transparent ;
  border-image: linear-gradient(0.25turn,rgba(56,2,155,0), rgb(211, 152, 248), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  line-height:10px;
  align-items: center;
  justify-content: center;
  width: 13%;
}

a:nth-child(2){
 margin-left:30%;
}
a:nth-child(3){
  margin-left:5%;
}
a:nth-child(4){
  margin-left:5%;
}

@keyframes test_hover {

  from {
    border-image: linear-gradient(0.25turn,rgba(56,2,155,0), rgb(211, 152, 248), rgba(255,0,128), rgba(56,2,155,0));

  }
  to {
    border-image: linear-gradient(0.25turn, rgba(56, 2, 155, 0.83), rgba(211, 152, 248, 0.71), rgba(255, 0, 128, 0.67), rgba(56, 2, 155, 0.86));

  }
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/* Change the color of links on hover */
.topnav a:hover {
  color: #2a081d;
  font-weight: bold;
  background-color: transparent;
}

.topnav:hover {
  border-bottom: 5px solid transparent ;
  border-image: linear-gradient(0.25turn, rgba(56, 2, 155, 0.76), rgba(211, 152, 248, 0.64), rgba(255, 0, 128, 0.66), rgba(56, 2, 155, 0.78));
  //background: linear-gradient(45deg, rgba(224, 148, 165, 0.22), rgba(236, 197, 204, 0.44), rgba(238, 159, 213, 0.66), rgba(231, 115, 137, 0.7),rgba(224, 148, 165, 0.22));
  border-image-slice: 1;
  border-radius: calc(2 * var(--borderWidth));
  animation: ease-in-out;
  animation-timing-function: linear;
  animation-direction: alternate;
  transition: border-image 1.5s ease-in-out;
}

.topnav:hover::after {
  border-image: linear-gradient(0.25turn, rgba(0, 0, 0, 0.56), rgba(240, 231, 246, 0.5), rgba(198, 148, 172, 0.49), rgba(49, 40, 66, 0.8));
  border-image-slice: 1;
  transition: border-image 1.5s linear;
}


a,
a:visited,
a:hover {
  text-decoration: none;
}


img{
  width: 40%;
  height: auto;
}
