
<div class="about-section" id="about">

  <h2>ABOUT</h2>  <h3>ME</h3>

  <!-- Bottom Left Tab -->
  <div class="tab bottom-left">
    <div class="tab-content">
      <p>I'm Beata Uhrin, graduated in February 2024, as a business informatics engineer. I live in Hungary, Szeged, and I am 24 years old.
      </p>
    </div>
    <h2>CONTACT</h2>
  </div>

  <!-- Bottom Right Tab -->
  <div class="tab bottom-right">
    <div class="tab-content">

      <p>That's it from me in a nutshell. If you think I would be a good addition for your team, please do not hesitate to contact me.</p>

      <p>Thanks for stopping by!</p>

      <p>If you have time, I would happily take some advice, or feedback!</p>
    </div>
    <h2>PERSONAL</h2>
  </div>

  <!-- Top Left Tab -->
  <div class="tab top-left">
    <div class="tab-content">

      <p> I'm on a mission to land my first job in the tech field. I was always interested in so many things, so it was hard for me to decide what exactly I wanted to do for work.

      I am interested in every opportunity that gives a chance for me to learn, grow, and make use out of my ideas.

      I have experience coding both in the frontend and backend side, and I enjoy both of them. I developed applications, websites, used numerous technologies, programming languages. I am also familiar with the basics of webdesign, and the essentials of data analyzing.</p>
    </div>
    <h2>EDUCATION</h2>
  </div>

  <!-- Top Right Tab -->
  <div class="tab top-right">
    <div class="tab-content">

      <p>Apart from this, I have some hobbies outside of technology. I love baking and cooking. I also started to learn the korean language, because I really like k-dramas.</p>

      <p>I have a puppy too, a dachshund. He is an adorable clingy boy, who gives me so much love.</p>
    </div>
    <h2>GOALS</h2>
  </div>
</div>
