

<div class="about-me-text" id="about">
  <h2>About Me</h2>
  <p>I'm Beata Uhrin, graduated in February 2024, as a business informatics engineer.</p>

  <p>I'm on a mission to land my first job in the tech field. I was always interested in so many things, so it was hard for me to decide what exactly I wanted to do for work.</p>

  <p>Because of this, I feel like I let some good opportunities fly away, but recently I figured out that eventually I want to be a UI/UX designer.</p>

  <p>I have experience coding both in the frontend and backend side, and I enjoy both of them. I developed applications, websites, used numerous technologies, programming languages. I am also familiar with the basics of webdesign, and the essentials of data analyzing.</p>

  <p>Apart from this, I have some hobbies outside of technology. I bake..I love baking. I also started to learn the korean language, because I really like k-dramas.</p>

  <p>Also, I have a puppy too, a dachshund. He is an adorable clingy boy, who gives me so much love.</p>

  <p>That's it from me in a nutshell. If you think I would be a good addition for your team, please do not hesitate to contact me.</p>

  <p>Thanks for stopping by!</p>
</div>

