.about-section {
  height: 70vh;
  position: relative;
  //margin: -1.3vw;
  margin-top: 5vw;
   //margin:0px;
  //background-color: #E8C6EB;
  background-image: url("../../assets/nb.png");
//  background-image: url("../../assets/about_me.png");
  background-repeat: space;
  background-size: 60%;
  background-position:center;
  overflow: visible;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 2vw;
  h2{
    font-family: "Oswald",sans-serif;
    font-size: 15vw;
  }
  h3{
    font-family: "Oswald",sans-serif;
    margin-left: 40vw;
    font-size: 8vw;
    margin-top: -29vw;
  }
}

.tab {
  position: absolute;
  width: 30vw; /* Adjust initial width as needed */
  height: 5vw; /* Adjust height as needed */
  overflow: hidden;
  transition: width 0.5s;
  text-align: center;
  //background-color: #ffcfdd;
  //background-color: rgba(186, 162, 236, 0.71);
  //background-image: linear-gradient(135deg, #d1b4ea 40%, #b0d6ea);
  margin: auto;
  //box-shadow: 0 0.6vw 0.6vw rgba(0, 0, 0, 0.3);
  box-shadow: 10px 20px 35px -16px #c0adf1;;
}

.tab h2{
  //writing-mode: vertical-rl;
  font-size: 3vw;
  margin: auto;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.tab-content {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 0.4vw;
  box-sizing: border-box;
 // background-color: #CCCCFF;
  transition: transform 0.5s;
  transform: translateX(0);
  margin: auto;
}

.tab:hover, .tab:checked {
  width: 50vw;
  height: 7vw;
  //background-color: #ffe3ea;
}

.tab:hover .tab-content {
  transform: translateX(-100%);
  font-weight: bold;
}


.tab:hover h2 {
  opacity: 0;
  transform: translateX(40);
}

/* Positioning tabs in corners */
.bottom-left { top: 0; right: 0; }
.bottom-right { top: 25%; right: 0; }
.top-left { top: 50%; right: 0; }
.top-right { top: 75%; right: 0; }


@media screen and (max-width: 767px) {
  .about-section{
    height: 300px;
    background-repeat:no-repeat;
    background-size: 120%;
    background-position:center;
    h3{
      //margin-top: 45vw;
    }
    h2{
      margin-top:70vw;
    }
  }
  .tab {
    width: 25vw;
    height: 15vw;
    //background-image: url("../../assets/about_me.png");
    //background-position: center right;
    //background-size: 140%;
  }
  .tab:hover, .tab:checked{
    width: 90vw;
    height: 20vw;
    background-color: white;
  }
  .tab-content {
    font-size: 10px;
  }

  .tab h2 {
    font-size: 5vw;
    margin-top: 4vw;
  }
}
