@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15%;
  margin-left: 80%;
}
.container .btn {
  position: relative;
  top: 0;
  left: 0;
  width: 15vw;
  height: 5vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .btn a {
  position: relative;
  font-weight: bold;
  font-size: 2vw;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0.6vw 0.6vw rgba(0, 0, 0, 0.3);
  border-bottom: 0.06vw solid rgba(255, 255, 255, 0.1);
  border-top: 0.06vw solid rgba(255, 255, 255, 0.1);
  border-radius: 1.5vw;
  padding: 1.2vw;
  letter-spacing: 0.06vw;
  text-decoration: none;
  overflow: hidden;
  color: #000000;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(0.8vw);
}
.container .btn:hover a {
  letter-spacing: 0.15vw;
}
.container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.container .btn:hover a::before {
  transform: skewX(45deg) translate(10vw);
}
.container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -0.26vw;
  width: 1.5vw;
  height: 0.5vw;
  background: #ffcfdd;
  border-radius: 0.5vw;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 2vw;
}

.container .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -0.25vw;
  width: 1.5vw;
  height: 0.5vw;
  background: #c09cf5;
  border-radius: 0.5vw;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 3vw;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
  background: #efd8ef;
  box-shadow: 0 0 0.2vw #ffcfdd, 0 0 0.7vw #ffcfdd, 0 0 1.5vw #ffcfdd,
  0 0 3vw #ffcfdd;
}

.hero-section {
  text-align: center;
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  padding-bottom: 5vw;
//  overflow: hidden;
  //overflow-x: hidden;

}

.portfolio_pic {
  width: 35%;
  height: auto;
  float: left;
  display: inline-flex;
  margin-left: 25%;
  //  border-radius: 40%;
  margin-top: 2%;
  object-fit: cover;
}

.decor{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  right: 0;
//  bottom: 0;
  //overflow: hidden;
  overflow: paged-y-controls;
}

.decor_pic{
  width:65%;
  position: absolute;
  left: -12vw;
  top: -20vw;
  opacity: 0.85;
  overflow-x: hidden;
  transform: rotate(200deg);
}

.hero-inner{
 // font-family: "Candara", sans-serif;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  color: #000000;
  text-align: center;
  align-items: center;
  float: left;
  width: 30%;
  display: inline-block;
  white-space: nowrap;
  line-height: 170%;
  margin-top: 5vw;
  object-fit: scale-down;
}

.hero-inner{

  h1{
    font-size:6vw;
    margin-left: 40%;
  }
  h2{
    font-size: 4vw;
    margin-left: 70%;
    color: #000000;
  }
  p{
    font-size:2vw;
    margin-left: 90%;
  }
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1% 10%;
  display: inline-block;
  border-radius: 20%;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.25vw 0.5vw rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.5vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}


@media screen and (max-width: 600px) {
  .hero-section{
    flex-direction: column;
  }

  .portfolio_pic{
    width: 65%;
    height: auto;
    object-fit: scale-down;
    margin-left: 0%;
    margin-top: 5%;
    border-radius: 5vw;
  }

  .hero-inner{
    text-align: right;
    //width: 100%; /* Make both elements take full width */
    margin-left: 28%;
    margin-top: 5%;
    line-height: 130%;

    h1{
      font-size:10vw;
      margin-left:0vw;
      margin-top: 6vw;
    }
    h2{
      font-size: 8vw;
      margin-left:20vw;
    }
    p{
      font-size:6vw;
      margin-left: 30vw;
    }
  }
  .container .btn a {
    font-size: 4.3vw;
  }

  .decor{
    overflow: paged-y-controls;
    overflow: hidden;
  }
  .decor_pic{
    position: relative;
    width: 120%;
   //position: absolute;
    left: 10vw;
    top: -45vw;
    overflow: paged-y-controls;
    overflow: hidden;
   // transform: rotate(180deg);
  }


  .container{
    margin-top: 5%;
    margin-left: 120%;
  }
  .container .btn {
    width: 24vw;
    height: 8vw;
  }


}

