
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

.project {
  width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
 // margin-bottom: 20px;
 // border-radius: 8px;
 // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 // transition: box-shadow 0.3s ease-in-out;
  padding: 2vw;
}

.project:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.project-frame {
  flex: 1;
  position: relative;
  //overflow: hidden;
  //border-radius: 8px;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: auto;
}


.project-frame:hover {
  transform: scale(1.1);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: auto;
}

.project-info {
  //flex:1;
  flex: 1;
  position: relative;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
  margin: auto;
}

.left-project .project-frame {
  order: 2;
}

.left-project .project-info {
  order: 1;
}

.right-project .project-frame {
  order: 1;
}

.right-project .project-info {
  order: 2;
}

.project:hover .project-info {
  background-color: rgba(255, 255, 255, 0.95);
}

.tags {
  margin-top: 0.5vw;
  font-size: 1.5vw;
}

.tag {
  display: inline-block;
  padding: 0.25vw 0.5vw;
  margin-right: 0.25vw;
  background-color: #c0adf1;
  color: #381f1f;
  border-radius: 0.4vw;
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);;
}

.description {
  margin: auto;
  font-family: "Ubuntu Condensed", serif;
  font-size: 2vw;
}

.project_name{
  margin: auto;
  font-family: "Ubuntu Condensed", serif;
  font-size: 3vw;

}

.additional-section{
  position: relative;
  //box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 14vw;
  flex-grow: inherit;
  display: grid;
  place-items: center;
  padding: 5vw;
}

.card {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 19.063vw; /* Adjust the height as needed */
  transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 15vw; /* Adjust the width as needed */
  margin: 10px;
  bottom: 0;
  background-color: black;
}

.card:hover {
  z-index: 200;
  transform: scale(1.15);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card.card1 { background-image: url('../../assets/cyberstone/1.jpg'); left: 0; }
.card.card2 { background-image: url('../../assets/cyberstone/2.jpg'); left: 11%; }
.card.card3 { background-image: url('../../assets/cyberstone/3.jpg'); left: 22%; }
.card.card4 { background-image: url('../../assets/cyberstone/4.jpg'); left: 33%; }
.card.card5 { background-image: url('../../assets/cyberstone/5.jpg'); left: 44%; }
.card.card6 { background-image: url('../../assets/cyberstone/6.jpg'); left: 55%; }
.card.card7 { background-image: url('../../assets/cyberstone/7.jpg'); left: 66%; }
.card.card8 { background-image: url('../../assets/cyberstone/8.jpg'); left: 77%; }


/* for a 3 column one row each column is one pic*/

.column {
  flex:3;
  text-align: center;
  margin: 5px;

}
.column_img{
  backface-visibility: hidden;
  width: 300px;
  height:150px;
  box-shadow:  5px 10px #4e4a4a;
  object-fit: cover;
}


.row{
  display:flex;
}

.project-showcase{
  width: 100%;
  background-color: transparent;
  margin : auto;
  padding: 0;
  text-align: center;
}
/*
.projects_text{
  //font-family: "Rubik Doodle Shadow";
  //font-family: "Oi";
  font-family: "Modak";
  font-size: 10vw;
  font-style: normal;
  font-weight: 400;
  color: #ecc0db;

  //text-shadow: 0 0 3px #090909;
  margin: auto;
  text-shadow: 0.5vw 0.3vw 0vw #000,
  -0.5vw  0vw 0vw #000;

}
*/

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .column_img {
  opacity: 0.3;
}

.column:hover .middle {
  opacity: 1;
}
.text {
  color: #000000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card {
    height: 14.063vw;
    width: 10.417vw;
  }
  .additional-section {
    width: 30%;
    display: flex;
  }
  .project-info {
    flex: auto;
  }
  .project-image {
    height: 40vw;
    width: 40vw;

  }
  .project:nth-child(3) {
    .project-info{
      display: flex;
      padding: 0px;
      margin-left: 60px;
      flex: 1;
    }
    .additional-section{
      margin-top:0;
      height: 15vw;
    }
  }
}

/*
.project:nth-child(3) {

  .project-info {

    margin-top: 0px;
  }

  .additional-section {
    margin-bottom: 0px;

  }

  .tags {
    display: none;
  }

}
*/




.button_link {
  width: 15vw;
  align-items: center;
  background-image: linear-gradient(135deg, #c9a4e7 40%, #83d4ee);
  margin-top : 2vw;
  margin-left: 2vw;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}






.button_link:active {
  outline: 0;
}

.button_link:hover {
  outline: 0;
}

.button_link a {
  text-decoration: none;
  color: black;
  transition: all 200ms;
}

.button_link:hover a {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button_link {
    font-size: 15px;
    height: 50px;
  }

  .button_link a {
    line-height: 50px;
  }
}
