
<section id="projects" class="projects">
  <div *ngFor="let project of projects; let i = index" class="project" [ngClass]="{'left-project': i % 2 === 0, 'right-project': i % 2 !== 0}">
    <div class="project-info">
      <h3 class="project_name">{{ project.name }}<a class="link_mobile" target="_blank" href="{{project.link}}"></a></h3>
      <p class="tags">
        <span class="tag" *ngFor="let tag of project.tags">{{ tag }}</span>
      </p>
      <p class="description">{{ project.description }}</p>
      <div class="container" *ngIf="project.link">
        <div class="button_link" *ngIf="project.link"><a href="{{project.link}}" *ngIf="project.link" target="_blank" >Let's see</a></div>
      </div>
    </div>
    <div class="project-frame" *ngIf="project.image">
      <img src="{{project.image}}" alt="{{ project.name }}" class="project-image">
    </div>
    <div class="additional-section" *ngIf="project.cards">
      <div class="card card1"></div>
      <div class="card card2"></div>
      <div class="card card3"></div>
      <div class="card card4"></div>
      <div class="card card5"></div>
      <div class="card card6"></div>
      <div class="card card7"></div>
      <div class="card card8"></div>
    </div>
  </div>
</section>


