<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bahianita&family=Caprasimo&family=Chango&family=Cherry+Bomb+One&family=Chewy&family=Chicle&family=DynaPuff:wght@400..700&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Modak&family=Notable&family=Oi&family=Original+Surfer&family=Oswald:wght@200..700&family=Protest+Riot&family=Rampart+One&family=Ranchers&family=Rubik+Doodle+Shadow&family=Rum+Raisin&family=Sigmar&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Spicy+Rice&family=Teko:wght@300..700&family=Titan+One&family=Ubuntu+Condensed&family=Ultra&family=Wendy+One&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Modak&family=Oi&family=Original+Surfer&family=Oswald:wght@200..700&family=Protest+Riot&family=Rampart+One&family=Ranchers&family=Rum+Raisin&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Teko:wght@300..700&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Rampart+One&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
</head>
<body>


<app-header></app-header>
<app-hero-section></app-hero-section>
<app-projects></app-projects>
<app-about></app-about>
<app-footer></app-footer>




</body>

</html>
