<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Original+Surfer&family=Oswald:wght@200..700&family=Protest+Riot&family=Rampart+One&family=Ranchers&family=Rum+Raisin&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Teko:wght@300..700&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bahianita&family=El+Messiri:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Rampart+One&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
</head>
<body>
<script>
  AOS.init();
</script>

<app-header></app-header>
<app-hero-section></app-hero-section>
<app-projects></app-projects>



  <footer>
    <div>
      I love some good feedback, so please leave any criticism about any part of my work!
    </div>
    <section class="feedback-form">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="text">
            Feedback
          </label>
          <input id="text" type="text" >
        </div>
        <button class="button" type="submit">Submit</button>
      </form>

    </section>
  </footer>



</body>

</html>
